/*-------------------------------------------------------------------------------------Mon compte-----------------------------------------------------------------------*/

.activeee {
    /* display: inline-block; */
    position: relative;
    background-color: white;
    color: red !important;
    width: 172px;
    margin-left: -15px;
    /* padding-right: 10px; */
    text-align: right;
}

.activeee::after {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 18px solid white;
}
.s_menu {
    margin-top: 0px;
}

.s_menu div {
    padding: 2px;
    font-size: 16px !important;
    margin-top: 8px;
    color: #93a1a1;
}

.s_menu div p {

}

.s_menu div:hover {
    cursor: pointer;
    color: #999999;
}

.hide {
    display: none;
}

#sary {
    width: 70px;
    margin-top: 14%;
	margin-left: 30%;
   
}
.menu_droite {
    margin-right: -45px;
    padding-left: 80px;
}
.contre {
    background-color: white;
    margin-bottom: 5% !important;
    margin-top: 5%;

}
.contre5 {
    background-color: #f5f5f5;
    padding: 5px;

}
.forme {
    width: 95% !important;
    margin-left: 2% !important;
    margin-top: 1% !important;
    margin-bottom: 2% !important;

}
.form-group {
    margin-bottom: 15px;
    padding: 30px 30px 30px 30px;
}
#compte {
    margin-top: 4%;
    margin-left: 10px;

}
#bonjour {
    margin-left: 35%;
    font-size: medium;

}
.btio2 {
    border-radius: 2% !important;
    margin-bottom: 3% !important;
    margin-top: 2% !important;
    margin-left: 5%;
    width: 20%;
	background-color: #d70506;

}
